.faqs
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 5%;
  color: var(--clr-maincolor);
}

.question
{
  font-weight: bold;
}

.answer
{
  font-style: italic;
}

.question,
.answer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}