.footer {
  background-color: var(--clr-maincolor);
  padding: 5em 10em;
}

.footer__conatiner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__conatiner h2 {
  color: white;
  font-weight: 800;
  font-size: var(--size-4xl);
}

.footer__conatiner p {
  max-width: 25em;
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  font-weight: 500;
}

.social__media {
  margin-top: 1em;
  color: white;
  display: flex;
  gap: 1em;
  font-size: var(--size-3xl);
  

}

.social__media a{
    transition: color .3s ease, text-shadow .3s ease;
}

.social__media a:hover{
 color:var(--clr-maincolor);
text-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.footer__CTA {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__CTA span {
  color: white;
  font-size: 0.6em;
  margin-top: 0.5em;
}

.other__links {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  font-size: var(--size-sm);
  padding-top: 2em;
  list-style: none;
}

.other__links li {
  color: var(--clr-slate400);
  font-weight: 500;
  transition: color .3s ease, margin .3s ease;
}

.other__links li:hover {
  color: white;
  font-weight: 500;
  list-style: none;
  margin-left: 1em;
}
