body{
    padding-inline: 1em;
}

.hero {
  background-color: #fbf6f3;
  border-radius: 1rem;
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero__left {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: var(--size-3xl);
    padding-bottom: var(--size-5xl);
  }
  
  .hero__title {
    color: var(--clr-maincolor);
    font-size: var(--size-6xl);
    line-height: var(--size-6xl);
    font-weight: 800;
  }
  
  .hero__sub-title {
    color: var(--clr-maincolor);
    font-weight: 500;
    max-width: 80%;
  }
  
  
  .hero__image{
      margin-top: var(--size-6xl);
  }
  .arrow{
      margin-left: .8em;
  }


/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    body{
        padding-inline: 0;
    }
} 

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */