.orderPaymentbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;

}

.orderPayment-container {
  margin-top: 1.5em;
  text-align: center;
  color: var(--main-color);
}

.Delivery__Informations-Container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35em;
  gap: 0.3em;
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 7em;
  text-align: left;
  color: var(--clr-maincolor);
}

.Delivery__Informations-Container form label{
    font-weight: 500;
    font-size: .7em;
    color: var(--clr-lightmaincolor);
}

.delivery__name {
  display: flex;
  gap: 1em;
}

.Delivery__Informations-Container form input,
.delivery__name select {
  width: 100%;
  padding: .8em;
  border-radius: 0.2em;
  border: .11em solid var(--clr-lightermaincolor);
  color: var(--main-color);
  outline: none;
  font-size: var(--size-sm);
}

.customer__Additional-info {
  max-width: 100%;
  min-width: 100%;
  max-height: 5em;
  resize: none;
  padding: 1em;
  border-radius: 0.2em;
  border: .11em solid var(--clr-lightermaincolor);
}

.Delivery__Informations-Container form input:focus,.customer__Additional-info:focus{
    border: 2px solid var(--clr-maincolor);
}


.orderPayment__title{
    color: var(--clr-maincolor);
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: .5em;
}


.delivery__name div{
    width: 50%;
}
