.product-range__card {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.product-range__card-cake {
  background-color: var(--clr-lightaccentcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 3em 4em 3em;
  color: var(--clr-lightmaincolor);
  position: relative;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
}

.product-range__card-cake h4 {
  font-size: var(--size-sm);
}

.card-cake__description {
  font-size: var(--size-xs);
}

.product-range__card-cake:hover {
  background-color: var(--clr-maincolor);
  color: var(--clr-maincolor);
}

.product-range__card-cake:hover .card-cake {
  bottom: 29px;
}

.product-range__card-cake:hover .card-cake p {
  color: white;
}

.product-range__title {
  color: var(--clr-maincolor);
  font-size: var(--size-3xl);
  font-weight: 800;
  margin-left: var(--size-2xl);
  margin-bottom: var(--size-4xl);
  text-align: center;
}

.card-cake p {
  text-align: center;
  font-weight: 700;
  font-size: var(--size-base);
}

.card-cake__icon {
  background-color: var(--clr-maincolor);
  padding: 1.5em;
  border-radius: 50%;
}

.card-cake {
  position: absolute;
  bottom: -65px;
  transition: bottom 0.3s ease;
}
.card-cake p {
  color: var(--clr-maincolor);
  margin-top: 0.4em;
}

.card-cake__icon img {
  width: 2em;
}

.category__btn {
  color: var(--clr-maincolor);
  font-weight: 500;
  font-size: var(--size-xs);
  padding: 1em 2em;
  border: 1px solid var(--clr-maincolor);
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category__btn:hover {
  background-color: var(--clr-maincolor);
  color: white;
}

.Products-category {
  margin-top: 7em;
}

.products__categgory-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

/*Product list*/

.products__list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 3em;
  justify-items: center;
}
.Products-list {
  margin-top: 4em;
  background-color: var(--clr-lightaccentcolor);
  padding: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
  width: 17em;
  border-radius: 1em;
  background-color: #ffffff;
  padding: 0.8em 0.8em 1em 0.8em;
  position: relative;
}

.product__card img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.product-card__description {
  display: flex;
  flex-direction: column;
}

.product__ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  position: absolute;
  right: 1.5em;
  top: 1.5em;

  background-color: rgba(255, 255, 255, 0.217);
  width: 4em;
  color: white;
  border-radius: 0.4em;
  font-weight: 700;
  font-size: 0.7em;
}

.product__ratings i {
  color: rgb(255, 217, 0);
}

.product__name {
  color: var(--clr-maincolor);
  font-size: var(--size-xl);
}

.product__price {
  margin-top: 0.5em;
  color: var(--clr-lightmaincolor);
  font-size: var(--size-sm);
  font-weight: 600;
}

.product-card__description {
  font-size: var(--size-xs);
  font-weight: 500;
  color: var(--clr-slate400);
}

.product-card_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding-right: 0.5em;
}

.product-card_actions i {
  font-size: var(--size-3xl);
  color: var(--clr-maincolor);
}
.product-card_actions i:hover {
  color: var(--clr-lightmaincolor);
}
.product__customize-btn {
  flex: 1;
  text-align: center;
}

/* customize adtocart form*/
#input__reference {
  display: none;
}

.add-to-cart__container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-maincolorRGBA);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.add-to-cart__form {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.285);
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  background-color: #ffffff;
  padding: 2em;
  width: 50em;
  position: relative;
  border-radius: 0.5em;
}

.add-to-cart-left__form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 50%;
}

.add-to-cart__formImg {
  width: 100%;
  border-radius: 0.5em;
  height: auto;
}

.produts__form-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produts__form-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product__form-description {
  color: var(--clr-maincolor);
  margin: 1em 0 1em 1em;
  font-size: var(--size-xs);
  line-height: 1.5em;
}

.dedication__input {
  display: flex;
  flex-direction: column;
  margin-top: 0.6em;
}

.Note,
.Dedication {
  resize: none;
  font-size: var(--size-xs);
  outline: none;
  border: 1px solid var(--clr-maincolor);
  border-radius: 4px;
  color: var(--clr-maincolor);
  height: 5.5em;
  padding: 0.5em;
}

.dedication__input textarea::-webkit-scrollbar {
  width: 5px;
}
.dedication__input textarea::-webkit-scrollbar-thumb {
  background-color: var(--clr-maincolor);
  border-radius: 6px;
}

.product__form-name {
  color: var(--clr-maincolor);
}

.product__form-price {
  color: var(--clr-maincolor);
  background-color: var(--clr-lightaccentcolor);
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 0.8em;
  font-weight: 700;
}
/*right form*/

.add-to-cart-right__form {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
}

.add-to-cart-right__form h3 {
  margin-top: 1em;
  color: var(--clr-maincolor);
}

.reference__image {
  display: flex;
  margin-top: 1em;
  align-items: end;
  justify-content: center;
  gap: 0.4em;
  margin-left: 1em;
}

#ref-image {
  border-radius: 4px;
  width: 4em;
}

.add-refbtn {
  background-color: var(--clr-maincolor);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: var(--size-xs);
  white-space: nowrap;
  color: white !important;
}

.cake__setting {
  padding-inline: 1em;
  width: 100%;
}

.cake__setting-layer {
  display: flex;
  font-size: var(--size-base);
  justify-content: space-between;
  align-items: end;
  gap: 0.5em;
  width: 100%;
}
.cake__setting-layer-select {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.cake__setting-layer-select select,
.cake__setting-layer-select input {
  color: var(--clr-maincolor);
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid var(--clr-maincolor);
  outline: none;
  font-size: 0.8em;
  width: 100%;
  margin-top: 0.2em;
}

.setting-layer-price,.setting-side-price,.setting-top-price{
  font-size: 0.8em;
  font-weight: 700;
  color: var(--clr-maincolor);
  text-wrap: nowrap;
  margin-bottom: 0.4em;
}

.add-to-cart__form label {
  color: var(--clr-lightmaincolor);
  font-size: var(--size-xs);
}

.cake__form-totalPrice {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.cake__form-quantity {
  display: flex;
  flex-direction: column;
}

.cake__sub-total {
  color: var(--clr-maincolor);
  font-size: var(--size-sm);
}
.cake__total-Amount {
  font-weight: 700;
  padding: 0.5em 1em;
  background-color: var(--clr-lightaccentcolor);
  border-radius: 4px;
}

.cake__form-quantity input {
  color: var(--clr-maincolor);
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid var(--clr-maincolor);
  outline: none;
  font-size: var(--size-sm);
}

.form__Add-to-cartbutton {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.cart__icon {
  font-weight: 100;
  font-size: var(--size-lg);
  color: white;
  margin-left: 0.5em;
}

.close-add-to-cart-form {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--clr-maincolor);
  font-size: var(--size-2xl);
  z-index: 9999;
}


.product__display-image {
  position: relative;
}

.product__form-rating {
  color: white;
  font-size: var(--size-xs);
  font-weight: 700;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff71;
  border-radius: 4px;
  padding: .3em .7em;
  gap: .5em ;
}

.star {
  color: rgb(255, 200, 0);
}


/* default add-to-cart form */

.add-to-cart-default__container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-maincolorRGBA);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}


#input__reference {
  display: none;
}


.add-to-cart__Dform {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.285);

  background-color: #ffffff;
  padding: 1.5em;
  width: 25em;
  position: relative;
  border-radius: 0.5em;
}

.add-to-cart-left__Dform {
  display: flex;
  flex-direction: column;
  gap:.7em;
  width:100%;
}

.add-to-cart__DformImg {
  width: 100%;
  border-radius: 0.5em;
  height: auto;
}

.produts__Dform-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produts__form-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product__form-description {
  color: var(--clr-maincolor);
  margin: 1em 0 1em 1em;
  font-size: var(--size-xs);
  line-height: 1.5em;
}

.Ddedication__input {
  display: flex;
  flex-direction: column;
  margin-top: 0.6em;
  color: var(--clr-lightmaincolor);
  font-size: var(--size-xs);
}

.DNote,
.DDedication {
  resize: none;
  font-size: var(--size-xs);
  outline: none;
  border: 1px solid var(--clr-maincolor);
  border-radius: 4px;
  color: var(--clr-maincolor);
  height: 3em;
  padding: 0.5em;
  color: var(--clr-maincolor);
}


.close-add-to-cart-Dform {
  position: absolute;
  top: .3em;
  right: .3em;
  color: var(--clr-maincolor);
  font-size: var(--size-2xl);
  z-index: 9999;
}
