

.product-range__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4em;
  margin-top: 5em;
  margin-bottom: 5em; 
  padding-inline: 5em;
}

.product-range__card-cake {

  background-color: var(--clr-lightaccentcolor);
  width: 13em;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
  color: var(--clr-lightmaincolor);
  position: relative;
  border-radius: 0.5em;
  transition: background-color .3s ease;

}
.product-range__card-cake:hover{
    background-color: var(--clr-maincolor);
    color:  var(--clr-maincolor);
}

.product-range__card-cake:hover .card-cake{
    bottom: 39px; 
}


.product-range__card-cake:hover .card-cake p{
   color: white;
   
}


.product-range__title {
  color: var(--clr-maincolor);
  font-size: var(--size-4xl);
  font-weight: 800;
  margin-left: var(--size-2xl);
  margin-bottom: var(--size-4xl);
  text-align: center;
}
.card-cake p {
  text-align: center;
  font-weight: 700;
  font-size: var(--size-lg);
}

.card-cake__icon {
  background-color: var(--clr-maincolor);
  padding: 2em;
  border-radius: 50%;
}

.card-cake {
  position: absolute;
  bottom: -65px;
  transition: bottom .3s ease;
}
.card-cake p {
  color: var(--clr-maincolor);
  margin-top: 0.4em;
}



/*desktop first*/
/* 2xl */
@media (max-width: 1535px) {

  


}

/* xl */
/*@media (max-width: 1279px) {}

/* lg */
@media (max-width: 1023px) {

}

/* md */
@media (max-width: 767px) {
  .card-cake__icon {
   
    padding: 1.5em;
    
  }

  .product-range__card-cake { 
    width: 10em;
    height: 9em;
 
  }

  .card-cake__icon {
   
    padding: 1.5em;
    border-radius: 50%;
  }

  .product-range__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4em;
    margin-top: 5em;
    margin-bottom: 5em; 
    padding-inline: 5em;
  }
  .product-range__card-cake:hover .card-cake{
    bottom: 20px; 
}

  .product-range__title{
    
    font-size: var(--size-3xl);
    
  }
}

/* sm */
/*@media (max-width: 639px) {}

/* xs */
@media (max-width: 474px) {
 .product-range__card {
  
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 4em;
 
  }

  .product-range__card-cake { 
    width: 9em;
    height: 8em;
    font-size: .9em;
 
  }


  



}

